*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    color: #e0e0e0;
}

section{
    width: 100%;
    min-height: 100vh;
    background-color: #d6d85c;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.pinimg.com/originals/39/fe/a7/39fea76d74a1b9c48d0c455f7d9ec27b.png") no-repeat;
    background-size: cover;
}

.formbox{
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10%;
    user-select: none;
}

.inputbox{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #fff;
    height: 30px;
    margin-top: 30px;
}

.inputbox input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 40px 0 5px;
    font-size: 1rem;
}

.inputbox label{
    position: absolute;
    left: 5px;
    top: 0;
    transition: 1s;
    pointer-events: none;
    color: rgba(204,204,204, 0.5);
}

input:focus ~ label,
input:valid ~ label{
    top: -25px;
    font-size: 0.8rem;
    color: rgb(204, 204, 204);
}

ion-icon{
    position: absolute;
    right: 5px;
    font-size: 1.4rem;
    pointer-events: none;
}

.forgot{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 0;
    align-items: center;
}

.forgot input{
    accent-color: #e0e0e0;
    margin-right: 5px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.login-button{
    width: 310px;
    height: 50px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: transparent;
    transition: 500ms;
}

.login-button:hover{
    background-color: #e0e0e0;
    color: #292929;
}
.createaccount{
    margin-top: 30px;
    text-align: center;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}